# Dependencies
node_modules/

# Build / cache
dist/
.expo/
web-build/
.metro-health-check*
*.tsbuildinfo

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Native / secrets
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Temp
expo-temp/
.expo-tmp-android/
dist-test/
